<VirtualHost *:80>
    DocumentRoot "/var/www/vhosts"
    ServerName cloudxp
</VirtualHost>
<VirtualHost *:80>
    DocumentRoot "/var/www/vhosts/test.wp.lcl"
    ServerName test.wp.lcl
</VirtualHost>
<VirtualHost *:80>
    DocumentRoot "/var/www/vhosts/valentino.lcl"
    ServerName valentino.lcl
    ServerAlias www.valentino.lcl
</VirtualHost>
<VirtualHost *:80>
    DocumentRoot "/var/www/vhosts/gridr.worker.net/grid-worker/public"
    ServerName gridr.worker.net
</VirtualHost>
<VirtualHost *:80>
    DocumentRoot "/var/www/vhosts/kartell.lcl"
    ServerName kartell.lcl
    ServerAlias www.kartell.lcl
</VirtualHost>

